Server erroneously includes non www-urlencoded body in signature base string

We've built an API and set it up to use 2legged Oauth authentication, but we're having issues with mismatched signatures when submitting json encoded POST data. We've set the content type header, and according to spec, the server should only be including params from the body when the content type is www-urlencoded.

It seems the Client (correctly) does not include these params when generating the signature, but the server is definitely using them to sign, which is against spec. For reference, the specific part of the spec dealing with this is at http://oauth.net/core/1.0/#anchor14, section 9.1.1:

"The request parameters are collected, sorted and concatenated into a normalized string:
Parameters in the OAuth HTTP Authorization header excluding the realm parameter.
Parameters in the HTTP POST request body (with a content-type of application/x-www-form-urlencoded).
HTTP GET parameters added to the URLs in the query part (as defined by [RFC3986] section 3)."

As it stands right now, the Client will generate signatures that the Server cannot validate, despite both being part of the same package.
